/* ============ */
/* default styles */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img,
video {
  display: block;
}

::selection {
  background: white;
  color: black;
}

@bp-small: ~"screen and (min-width: 540px)";
@bp-medium: ~"screen and (min-width: 1000px)";

.colorTransition {
  transition-property: color, background;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
}

/* ============ */
/* properties */
:root {
  --color-font: black;
  --color-background: white;
  --color-link-inactive: rgba(255, 255, 255, 0.08);
  --color-link-active: rgba(255, 255, 255, 0.17);

  --padding-s: 6px;
  --padding-m: 30px;
  --padding-l: 110px;
  --padding-xl: 200px;

  --font-size-s: 1.6rem;
  --font-size-m: 2.1rem;
  --font-size-l: 2.8rem;
}

/* ============ */
/* styles */

#app {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: var(--color-font);

  background: var(--color-background);
  .colorTransition;
}

#main {
  margin: 0 auto;
  max-width: 550px;
  padding-bottom: 50px;
}

.splash {
  height: 100vh;
  display: flex;
  flex-direction: column;
  // background: url("../media/arsmea-gs-001-1200-min.webp") bottom var(--color-background);
  // background-size: cover;
  // background-blend-mode: luminosity;
  // .colorTransition;
  // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.splash__logo {
  flex: 1 1 auto;
  background: var(--color-font);
  -webkit-mask: url("../media/arsmea-logo.svg") no-repeat;
  mask: url("../media/arsmea-logo.svg") no-repeat;
  -webkit-mask-size: 70%;
  mask-size: 70%;
  -webkit-mask-position: center;
  mask-position: center;
  .colorTransition;
  // mix-blend-mode: color-dodge;
}

.splash__contact {
  display: flex;
  justify-content: space-evenly;
  padding: var(--padding-s);
  padding-top: 0;
  font-size: var(--font-size-m);

  a {
    position: relative;
    flex: 1 0 auto;
    text-align: center;
    letter-spacing: 0.15em;
    padding: 1em 0;
    color: var(--color-font);
    text-decoration: none;
    text-transform: uppercase;
    background: var(--color-link-inactive);
    .colorTransition;

    &:first-child {
      margin-right: calc(var(--padding-s) / 2);
    }
    &:last-child {
      margin-left: calc(var(--padding-s) / 2);
    }
  }

  a:hover {
    background: var(--color-link-active);
  }
}

.showcase {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    flex: 1 1 0;
    overflow: hidden;
    height: 180px;
    padding: 0 calc(var(--padding-s) / 2);
    cursor: pointer;

    &:first-child {
      padding-left: var(--padding-s);
    }
    &:last-child {
      padding-right: var(--padding-s);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.enlarged-image {
  padding: var(--padding-s);
  width: 100%;
  height: 100vw;
  max-height: 500px;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
  }
}

article {
  padding: 0 var(--padding-m);
  -ms-hyphens: manual;
  -webkit-hyphens: manual;
  hyphens: manual;

  a {
    color: inherit;
    font-style: italic;
    text-decoration: none;
    background: var(--color-link-inactive);
    .colorTransition;

    &:hover {
      background: var(--color-link-active);
    }
  }
}

.quote {
  font-size: var(--font-size-l);
  padding-top: var(--padding-xl);
  padding-bottom: var(--padding-l);
}

.sidenote {
  font-style: italic;
  text-align: right;
  font-size: var(--font-size-s);
  margin-top: 2.5em;
}

.description {
  padding-top: var(--padding-l);
  font-size: var(--font-size-m);
}

.address {
  margin-top: var(--padding-l);
}

.price-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin-bottom: 2em;

  a {
    display: inline-block;
    padding: 0.8em 1em;
    margin: 0 var(--padding-s) var(--padding-s) 0;

    &:after {
      content: "CHF";
      margin-left: .1em;
      font-size: var(--font-size-s);
    }
  }
}
