/* ============ */
/* default styles */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img,
video {
  display: block;
}

::selection {
  background: white;
  color: black;
}

/* ============ */
/* properties */
:root {
  --primary-color: rgb(173, 24, 43);
  --secondary-color: rgb(209, 156, 166);
}

/* ============ */
/* styles */

#app {
  background: var(--secondary-color);
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

#overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* mix-blend-mode: difference; */
}

#overlay__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

#logo {
  width: 75%;
  max-width: 400px;
  fill: var(--primary-color);
}

#overlay__footer {
  display: flex;
  justify-content: space-evenly;
}

#overlay__footer a {
  flex: 1 0 auto;
  text-align: center;
  padding: 1.2em;
  color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
  transition: background .2s ease-out;
}

#overlay__footer a:hover {
  background: rgba(255, 255, 255, 0.08);
}
