/* ============ */
/* default styles */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img,
video {
  display: block;
}

::selection {
  background: white;
  color: black;
}

@media screen and (min-width: 540px) {
  /* Small breakpoint styles */
}

@media screen and (min-width: 1000px) {
  /* Medium breakpoint styles */
}

/* ============ */
/* properties */
:root {
  --color-font: black;
  --color-background: white;
  --color-link-inactive: rgba(255, 255, 255, 0.08);
  --color-link-active: rgba(255, 255, 255, 0.17);

  --padding-s: 6px;
  --padding-m: 30px;
  --padding-l: 110px;
  --padding-xl: 200px;

  --font-size-s: 1.6rem;
  --font-size-m: 2.1rem;
  --font-size-l: 2.8rem;
}

/* ============ */
/* styles */

#app {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: var(--color-font);
  background: var(--color-background);


  transition-property: color, background;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
}

#main {
  margin: 0 auto;
  max-width: 550px;
  padding-bottom: 50px;
}

.splash {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.splash__logo {
  flex: 1 1 auto;
  background: var(--color-font);
  -webkit-mask: url("../media/arsmea-logo.svg") no-repeat;
  mask: url("../media/arsmea-logo.svg") no-repeat;
  -webkit-mask-size: 70%;
  mask-size: 70%;
  -webkit-mask-position: center;
  mask-position: center;

  transition-property: color, background;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
}

.splash__contact {
  display: flex;
  justify-content: space-evenly;
  padding: var(--padding-s);
  padding-top: 0;
  font-size: var(--font-size-m);
}

.splash__contact a {
  position: relative;
  flex: 1 0 auto;
  text-align: center;
  letter-spacing: 0.15em;
  padding: 1em 0;
  color: var(--color-font);
  text-decoration: none;
  text-transform: uppercase;
  background: var(--color-link-inactive);

  transition-property: color, background;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
}

.splash__contact a:first-child {
  margin-right: calc(var(--padding-s) / 2);
}

.splash__contact a:last-child {
  margin-left: calc(var(--padding-s) / 2);
}

.splash__contact a:hover {
  background: var(--color-link-active);
}

.showcase {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.showcase li {
  flex: 1 1 0;
  overflow: hidden;
  height: 180px;
  padding: 0 calc(var(--padding-s) / 2);
  cursor: pointer;
}

.showcase li:first-child {
  padding-left: var(--padding-s);
}

.showcase li:last-child {
  padding-right: var(--padding-s);
}

.showcase img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.enlarged-image {
  padding: var(--padding-s);
  width: 100%;
  height: 100vw;
  max-height: 500px;
  overflow: hidden;
}

.enlarged-image img {
  object-fit: cover;
  width: 100%;
}

article {
  padding: 0 var(--padding-m);
  hyphens: manual;
}

article a {
  color: inherit;
  font-style: italic;
  text-decoration: none;
  background: var(--color-link-inactive);

  transition-property: color, background;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
}

article a:hover {
  background: var(--color-link-active);
}

.quote {
  font-size: var(--font-size-l);
  padding-top: var(--padding-xl);
  padding-bottom: var(--padding-l);
}

.sidenote {
  font-style: italic;
  text-align: right;
  font-size: var(--font-size-s);
  margin-top: 2.5em;
}

.description {
  padding-top: var(--padding-l);
  font-size: var(--font-size-m);
}

address.sidenote {
  margin-top: var(--padding-l);
}

.price-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin-bottom: 2em;
}

.price-list a {
  display: inline-block;
  padding: 0.8em 1em;
  margin: 0 var(--padding-s) var(--padding-s) 0;
}

.price-list a::after {
  content: "CHF";
  margin-left: 0.1em;
  font-size: var(--font-size-s);
}
