/* ============ */
/* default styles */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img,
video {
  display: block;
}

::selection {
  background: white;
  color: black;
}

@bp-small: ~"screen and (min-width: 540px)";
@bp-medium: ~"screen and (min-width: 1000px)";

.colorTransition {
  transition-property: color, background;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
}

/* ============ */
/* properties */
:root {
  --primary-color: black;
  --secondary-color: white;
}

/* ============ */
/* styles */

#app {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.08em;
  font-size: 1em;

  @media @bp-small {
    font-size: 1.2em;
  }
}

#content__main {
  height: 100vh;
  overflow-y: scroll;
  -ms-scroll-snap-type: y proximity;
  scroll-snap-type: y proximity;
  background: var(--secondary-color);
  .colorTransition;

  section {
    height: 100vh;
    scroll-snap-align: start;
    width: 100%;
    position: relative;
  }

  #logo {
    background: var(--primary-color);
    -webkit-mask: url("../media/arsmea-logo.svg") no-repeat;
    mask: url("../media/arsmea-logo.svg") no-repeat;
    -webkit-mask-size: 70%;
    mask-size: 70%;
    -webkit-mask-position: center;
    mask-position: center;
    .colorTransition;

    @media @bp-small {
      -webkit-mask-size: 50%;
      mask-size: 50%;
    }

    @media @bp-medium {
      -webkit-mask-size: 40%;
      mask-size: 40%;
    }
  }

  ul.showcase {
    list-style-type: none;
    max-width: 500px;
    padding: 0;

    li {
      padding: 10px;
      overflow: hidden;
      height: 100vw;
    }

    img {
      width: 100%;
      max-width: 500px;
    }
  }

  .quote {
    align-items: center;
  }

  .text {
    padding: 30px;
    min-height: 100%;
    display: flex;
    justify-content: center;

    article {
      max-width: 700px;
      color: var(--primary-color);
      font-size: 1.2em;
      -ms-hyphens: manual;
      -webkit-hyphens: manual;
      hyphens: manual;
    }

    ul.price-list {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;
      margin-bottom: 2em;
      gap: 5px;

      a {
        display: inline-block;
        padding: .8em 1em;
  
        &:after {
          content: "CHF";
          font-size: .6em;
        }
      }
    }

    a {
      color: inherit;
      font-style: italic;
      text-decoration: none;
      background: rgba(255, 255, 255, 0.06);
      .colorTransition;

      &:hover {
        background: rgba(255, 255, 255, 0.17);
      }
    }

    .signature {
      margin-top: 2.5em;
      font-style: italic;
      text-align: right;
      font-size: 0.9em;
    }
  }
}

#content__nav {
  --padding: 6px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  gap: var(--padding);
  justify-content: space-evenly;
  padding: var(--padding);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--secondary-color);
    width: 100%;
    height: 100%;
    .colorTransition;
  }

  a {
    flex: 1 0 auto;
    z-index: 100;
    text-align: center;
    letter-spacing: 0.15em;
    padding: 1.2em 0;
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.1);
    .colorTransition;
  }

  a:hover {
    background: rgba(255, 255, 255, 0.17);
  }
}
